$text: #181806;
$background: #f5f4f1;
$primary-button: #0d6efd;
$secondary-button: #f7f8e3;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

//Control darkmode colors here
.dark {
  background-color: #121212 !important;
  color: $background !important;

  .sidebar {
    background-color: #1b1b1b !important;
    color: #ffffff !important;
  }

  .card,
  .featured-container {
    background-color: #1b1b1b !important;
    border: 1px solid rgb(104, 102, 102) !important;
  }
  .secondary {
    background-color: #121212 !important;
  }

  .contact-form {
    background-color: #1b1b1b !important;
    color: white !important;
    border-color: rgb(104, 102, 102) !important;
  }
}

.app {
  background-color: $background;
  color: $text;
  display: flex;
  position: relative;
  font-family: 'Roboto Slab', serif;

  .media-warning {
    display: none;
    text-align: center;
    background-color: #7573732a;
    font-size: 18px;
    align-items: center;
    padding-top: 5px;
    margin-bottom: 5px;

    .media-switch {
      margin-top: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  //Sidebar css
  .sidebar {
    background-color: #ffffff;
    color: $text;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    justify-content: space-between;
    position: fixed;
    width: 20%;

    .sidebar-group {
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .sidebar-item {
      align-items: center;
      display: flex;
    }

    .top {
      font-size: 20px;
      gap: 1em;
      margin-top: 3em;
    }

    .middle {
      font-size: 22px;
      gap: 2em;
    }

    .bottom {
      font-size: 16px;
      gap: 1em;
      margin-bottom: 3em;
    }

    .link {
      cursor: pointer;
      gap: 5px;
    }

    .email {
      margin-bottom: -10px;
      margin-top: 20px;
    }
  }

  // End of sidebar, page css
  .page {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    position: relative;
    width: 100%;

    .content {
      min-height: 100vh;
      margin-top: 4em;
    }

    .intro {
      .intro-headtext {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 74px;
        gap: 0.5em;
        padding-left: 10px;
      }

      .intro-bodytext {
        text-align: center;
        font-size: 30px;
        margin: 2em 5em 0em 5em;
      }

      .avatar {
        height: 400px;
        width: 400px;
        border: 2px solid #ffffff;
        border-radius: 50%;
      }
    }

    .about {
      .about-headtext {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 74px;
      }
      .about-bodytext {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: justify;
        font-size: 30px;
        padding: 2em 4em 0 4em;
      }
      .about-skills {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        gap: 2em;

        .skill-logo {
          cursor: default !important;
          color: $primary-button !important;
        }
      }
    }

    .featured-header {
      text-align: center;
      font-size: 44px;
      margin-top: 1em;
    }
    .for-contact {
      margin-top: 4em;
    }
    .projects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .projects-headtext {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 74px;
      }
      .projects-featured {
        display: flex;
        flex-direction: column;
        align-items: center;

        .featured-container {
          margin-top: 1em;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 2px solid lightgray;
          max-width: 800px;
          padding: 1em;
          border-radius: 5px;
          background-color: white;
          justify-content: space-between;
          gap: 1em;
          text-align: center;
        }
        .featured-title {
          font-size: 32px;
        }
        .featured-desc {
          font-size: 20px;
          max-width: 800px;
          text-align: justify;
          padding: 1em;
        }
        .featured-img {
          max-height: 500px;
          max-width: 500px;

          img {
            max-height: 100%;
            max-width: 100%;
            border-radius: 10px;
          }
        }
        .featured-buttons {
          display: flex;
          gap: 4em;
          button {
            padding: 1em;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
          }
          button:hover {
            background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
          }

          .primary {
            background-color: #0d6efd;
          }
          .secondary {
            background-color: rgb(134, 133, 133);
          }
        }
      }
      .projects-list {
        display: flex;
        justify-content: center;
        gap: 2em;
        flex-wrap: wrap;
        margin: 4em 4em 0 4em;
      }
    }

    .contact-container {
      display: flex;
      justify-content: center;
      margin-top: 1em;
      min-height: 60vh !important;
    }

    .contact {
      display: flex;
      justify-content: center;
      max-width: 800px;
      gap: 2em;
    }
    .contact-head-text {
      display: flex;
      justify-content: center;
      font-size: 4rem;
      font-weight: 600;
      margin-bottom: 2rem;
      padding-top: 160px;
    }

    .contact-text {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      gap: 2em;
      margin-top: 2em;
    }

    .contact-text-head {
      font-size: 34px;
    }

    .contact-text-body {
      font-size: 24px;
    }
    .contact-form {
      color: black;
      font-weight: 500;
      font-size: 18px;
      border-radius: 5px;
      line-height: 22px;
      background-color: white;
      border: 2px solid #dee2e6;
      transition: all 0.3s;
      width: 100%;
      box-sizing: border-box;
      outline: 0;
    }

    .contact-form:focus {
      border: 2px solid #0d6efd;
    }

    textarea {
      height: 150px;
      line-height: 150%;
      resize: vertical;
    }

    [type="submit"] {
      width: 100%;
      background: #0d6efd;
      border-radius: 5px;
      border: 0;
      cursor: pointer;
      color: white;
      font-size: 24px;
      padding-top: 10px;
      padding-bottom: 10px;
      transition: all 0.3s;
      margin-top: 10px;
      font-weight: 700;
    }
    [type="submit"]:hover {
      background: #0a58ca;
    }
  }
}

// Random css and media screen

@media screen and (max-width: 1024px) {
  .media-warning {
    display: block !important;
  }

  .sidebar {
    display: none !important;
  }

  .page {
    margin-left: 0 !important;
  }

  .content {
    min-height: 120vh !important;
    margin-top: 0 !important;
  }

  .avatar {
    width: 300px !important;
    height: 300px !important;
  }

  .contact-text{
    margin-top: 1em !important;
    gap: 1em !important;
  }

  .intro {
    .intro-headtext {
      flex-direction: column-reverse;
      text-align: center;
      padding: 0em 1em 0em 1em !important;
      font-size: 44px !important;
      
    }

    .intro-bodytext {
      margin: 1em !important;
      font-size: 26px !important;
    }
  }
  .about {
    .about-headtext {
      font-size: 56px !important;
    }
    .about-bodytext {
      font-size: 22px !important;
      padding: 1em 2em 0 2em !important;
    }
    .about-skills {
      gap: 0.5em !important;
      flex-direction: column;
    }
  }
  .projects {
    .projects-headtext {
      font-size: 56px !important;
    }
    .projects-list {
    }
  }
  .contact-container {
    padding: 1em !important;
  }
}

.MuiSwitch-track {
  background-color: rgb(119, 119, 119) !important;
}
