$text: #181806;
$background: #f5f4f1;
$primary-button: #27258d;
$secondary-button: #f7f8e3;

//Control darkmode colors here
.dark {
  background-color: #121212 !important;
  color: $background !important;

  .sidebar{
    background-color: #1b1b1b !important;
    color: #ffffff !important;
  }

}

.app {
  background-color: $background;
  color: $text;
  display: flex;
  position: relative;

  //Sidebar css
  .sidebar {
    background-color: #ffffff;
    color: $text;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    justify-content: space-between;
    position: fixed;
    width: 20%;

    .sidebar-group {
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .sidebar-item {
      align-items: center;
      display: flex;
    }

    .top {
      font-size: 20px;
      gap: 1em;
      margin-top: 3em;
    }

    .middle {
      font-size: 22px;
      gap: 2em;
    }

    .bottom {
      font-size: 16px;
      gap: 1em;
      margin-bottom: 3em;
    }

    .link {
      cursor: pointer;
      gap: 5px;
    }

    .email {
      margin-bottom: -10px;
      margin-top: 20px;
    }
  }

  // End of sidebar, page css
  .page {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    position: relative;
    width: 100%;

    .content {
      height: 100vh;
    }
  }
}

// Random css and media screen

@media screen and (max-width: 1024px) {
  .sidebar {
    display: none !important;
  }

  .page {
    margin-left: 0 !important;
  }
}

.MuiSwitch-track {
  background-color: rgb(119, 119, 119) !important;
}
